@media screen and (max-width: 1350px) {
    .article__slide {
        grid: 1fr / 1fr;
        padding: 20px 30px;
    }

    .article__slide > h2,
    .article__slide > p {
        text-align: center;
        word-break: break-all;
        max-width: initial;
    }

    .article__slide > .article__slide__img-wrapper {
        grid-area: initial;
        display: flex;
        justify-content: center;
    }

    .article__slide > .article__slide__img-wrapper > figure {
        display: flex;
        justify-content: center;
        max-width: 800px;
    }

    .article__slide > .article__slide__img-wrapper > figure > img {
        min-width: initial;
    }

    .article__slide > .article__slide__demo-btn {
        order: 1;
        justify-self: center;
    }

    .article__slide > .article__slide__img-wrapper {
        margin-top: -60px;
    }

    .article__slide > p,
    .article__slide > .article__slide__demo-btn {
        margin-top: 0;
    }
}
